/* Main styles */
body {
	background: #ECF0F1;
	font-size: 14px;
	line-height: 1.5em;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #E64C66;
}
a:hover {
	color: #2D3E50;
	text-decoration: underline;
}
p {
	font-size:1.1em;
	padding: 10px;
	font-family: palatino, "times new roman", serif;
	margin-right: 5px;
}
h4 {
	height: 25px;
	font-size:1.3em;
	padding-top:8px;
	padding-left: 10px;
	margin:0 0 5px 0;
	text-transform: lowercase;
}
h5 {
	margin-left: 15px;
	width: 45%;
	background: #2D3E50;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	font-family: 'Rokkitt', serif;
	padding-top:10%;
	padding-bottom:10%;
	border: 1px solid #E64C66;
	color: white;
}
h5:hover {
	background: none;
	color:#E64C66;
}
h3 {
	text-align: center;
	color: white;
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	font-size:2em;
	padding-top:7.5px;
	height: 30px;
}
.h2 {
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	padding:20px 20px 5px 20px;
	line-height: .85em;
	color:black;
	font-size: 3.5em;
}
.name {
	font-family: sans-serif;
	font-size: .5em;
	text-transform: none;
	font-style: italic;
}
header {
	background: #1BBC9B;
	color: white;
	padding: 20px 20px 3px 20px;
	font-size: 3.3em;
	font-family: 'Rokkitt', serif;
}
header h1 {
  padding-left: 10px;
}
header nav {
	float:right;
	margin-left: 10px;
	font-size: .4em;
}
header nav a{
	color: white;
}
header nav li {
	float:left;
	text-decoration: none;
	line-height: 25px;
	margin: 10px;
	color: white;
}
header nav a:hover{
	background: #2D3E50;
	color: white;
	padding: 5px;
	text-decoration: none;
}
header:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}

.right {
	/*display: inline;*/
	float: right;
	width: 29%;
	max-width: 29%;
}
.left {
	float:left;
	width: 70%;
	/*display: inline;*/
	background: white;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.right h3 {
	background: #E64C66;
}
.left h3 {
	background: #AEAEAE;
	text-align: right;
	padding-right: 10px;
}
#contact ul {
	margin: 0 0 40px 0;
	padding:0;
}
#contact li {
	float:right;
	padding: 10px;
	margin-bottom: 30px;
	margin-top: 0;
	margin-right: 10px;
}
footer {
	background: #1BBC9B;
	padding: 10px 0;
	height: 20px;
	margin:0;
	position: fixed;
	bottom: 1px;
}
footer nav {
	position: relative;
	left: 0;
}
footer nav li {
	float:left;
}
footer nav li a {
	font-size: .95em;
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
footer nav li a:hover{
	background: none;
	text-decoration: none;
	color:white;
}
.go-to-top {
	position: fixed;
	bottom: 0;
	right: 10px;
	padding:20px;
	background-color: #1BBC9B;
	color: white;
	z-index: 1;
}
.post {
	border-bottom: 1px solid #ccc;
}
.post h2 {
	font-size: 1.8em;
	margin: 15px 0 0 10px;
	color:#1BBC9B;
}
.post h3 {
	background: none;
	color: black;
	font-size: 1.1em;
	margin: 0 0 -10px 10px;
	text-align: left;
	font-family: 'Rokkitt', serif;
	text-transform: lowercase;
	padding-top:7.5px;
	height: 20px;
}
.post h5 {
	margin:5px 0 0 10px;
	width: 100%;
	background: none;
	text-align:left;
	font-family: sans-serif;
	padding:0;
	font-size: .95em;
	border: none;
	color: black;
}
.post p {
	line-height: 1.2em;
}
.post ol {
	font-size: .85em;
	line-height: 1.2em;
}
.code {
	background: #f0f0f0;
	padding:10px;
	font-family: monospace;
	font-weight: 100;
	border: 1px solid #dedede;
	width: 80%;
	margin: 20px;
}
@media only screen and (max-device-width: 480px) {

header {
	font-size: 1.9em;
}

.h2 {
	line-height: .85em;
	padding:10px 10px 5px 10px;
	font-size: 1.5em;
}

.name {
	font-size: .65em;
}

nav li a {
	padding: 5px;
}

.right {
	width: 100%;
	max-width: 100%;
	float: none;
}

.left {
	float:none;
	width: 100%;
}

header nav {
	font-size: .80em;
}

}