body {
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
a:link	{color:red;} /* unvisited link */
a:visited	{color:red;} /* visited link */
a:hover	{color:red; background: black; padding: 2px; text-decoration: none;} /* mouse over link */
a:active	{color:black;} /* selected link */
#header {
	width: 850px;
	margin: 0;
	background: black;
	color:white;
	margin-bottom: 10px;
	height: 40px;
	text-align: center;
	padding-top:5px;
}
#wrapper {
	width: 850px;
	position: relative;
	margin: 0 auto;
	border: 1px solid #727272;
}
.sidebar {
	left:8px;
	width: 200px;
	background: #dedede;
	padding: 0 10px 5px 10px;
	border: 1px solid #727272;
	position: absolute;
}
.content {
	width: 577px;
	padding:10px 10px 10px 10px;
	background: #ccc;
	border: 1px solid #727272;
	position: relative;
	left: 240px;
	min-height: 300px;
}
.content_area {
	margin: 0 auto;
}
#footer {
	width: 100%;
	background: #dedede;
	height: 40px;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
}
.highlight {
	padding: 10px;
	background: black;
	color: white;
	position: absolute;
}